<div class="row">
  <!-- CARD LIST VIEW -->
  <section class="col-md-4 col-xs-6">
    <div class="cardList">
      <ul>
        <li ng-repeat="card in cards" class="clearfix">
          <span ng-click="selectCard(card)">
            <h4>{{card.name}}</h4>
            <span class="type">{{card.type}}</span>
          </span>
        </li>
      </ul>
    </div>
  </section>
  <!-- /END CARD LIST VIEW -->
  <!-- CARD DETAILS VIEW -->
  <section class="col-md-8 col-xs-6">
    <div class="cardDetails">
      <div ng-if="selectedCard">
        <h3 ng-bind="selectedCard.name">title</h3>
        <div class="row">
          <div class="col-xs-7">
            <img ng-src="{{selectedCard.image}}" class="responsive" alt="Description" />
          </div>
          <div class="col-xs-5">
            <span ng-bind="selectedCard.text"></span>
          </div>
        </div>

      </div>
      <div ng-if="!selectedCard">
        <h3>Select a card from the list</h3>
      </div>
    </div>
  </section>
  <!-- /END CARD DETAILS VIEW -->
</div>
